.mainContent {
  width: 75%;
  margin: auto;
  margin-top: 2rem;
  padding: 4rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba($brandPurple, 0.05);
  border-radius: 4px;

&__logoContainer {
  width:50%;
  height:2rem;
  margin: 4rem auto;
  padding:1rem;
  display:flex;
  justify-content: center;
  align-items: center;
}

&__logo {
  width: 15rem;
  margin: 2rem;
}


  & article {
    margin-top: 3rem;
  }

  &__aboutContent {
    border-left: 1px solid $brandBlue;
    line-height: 200%;
    color: black;
    padding: 2rem;
  }

  &__speakersContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__speaker {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-left: 1px solid $brandPurple;
    &:nth-of-type(even) {
      border-left: none;
      border-right: 1px solid $brandPurple;
      align-self: flex-end;
      flex-direction: row-reverse;
    }
  }

  &__speakerDetails {
    align-self: center;
    height: inherit;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__speakerName {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }
  &__speakerPhoto {
    object-fit: cover;
    object-position: center;
    height: 20rem;
    width: 20rem;
    box-shadow: 2px 2px 4px rgba(2, 2, 2, 0.15);
    margin: 1rem;
  }
  &__agendaContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__agendaItem {
    width: 95%;
    display: flex;
    justify-content: space-between;
    line-height: 100%;
    border-radius: 2px;
    background-color: rgba($brandBlue, 0.1);
    margin-bottom: 2rem;
    &:nth-of-type(even) {
      background-color: white;
    }
    & span {
      padding: 2rem 0;
      margin-left: 2rem;
      margin-right: 2rem;
    }

    & .title {
      font-weight: bold;
      font-size: 1.4rem;
      margin-right: auto;
    }
    & .duration {

      color: rgba($brandBlue, 0.4);
      font-size: 2.6rem;
      font-weight: bold;
    }
  }
}

