.mainContent {
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  padding: 4rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba($brandPurple, 0.05);
  border-radius: 4px;

  &__logoContainer {
    width: 50%;
    height: 2rem;
    margin: 4rem auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 15rem;
    margin: 2rem;
  }

  & article {
    margin-top: 3rem;
  }

  &__aboutContent {
    border-left: 1px solid $brandBlue;
    line-height: 200%;
    color: black;
    padding: 2rem;
  }

  &__speakersContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__speaker {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    border-left: 1px solid $brandPurple;
    margin-bottom: 5rem;
    &:nth-of-type(even) {
      border-left: none;
      border-right: 1px solid $brandPurple;
      align-self: flex-end;
      flex-direction: row-reverse;
    }
  }

  &__speakerDetails {
    align-self: center;
    height: inherit;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &__speakerName {
    padding-top: 1.6rem;
    text-align: center;
  }
  &__speakerInfo {
    text-align: center;
    line-height: 120%;
    padding: 1rem;
  }
  &__speakerPhoto {
    margin: 1rem;
    object-fit: cover;
    object-position: center;
    height: 20rem;
    width: 20rem;
  }
  &__agendaContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__agendaItem {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 100%;
    border-radius: 2px;
    background-color: rgba($brandBlue, 0.1);
    margin-bottom: 2rem;
    &:nth-of-type(even) {
      background-color: white;
    }
    & span {
      padding: 1rem 0;
      margin-left: 2rem;
      margin-right: 2rem;
    }
    & .time {
      white-space:nowrap;
    }
    & .title {
      font-weight: bold;
      margin-right: auto;
    }
    & .duration {
      color: rgba($brandBlue, 0.4);
      font-size: 2.6rem;
      font-weight: bold;
    }
  }
}
