$brandBlue:rgb(61, 168, 210);
$brandPurple: rgba(140, 103, 204, 0.95);
$buttonRadius: 6px;
$shadowHover:  2px 4px 2px rgba(64, 71, 73, 0.15);
$mainGrad: linear-gradient(253.02deg, rgba(61, 168, 210, 0.95) 0%, rgba(140, 103, 204, 0.95) 110.68%);
$imageGrad: linear-gradient(0deg, rgba(39, 39, 39, 0.7), rgba(39, 39, 39, 0.7));

